<%- include("header") %>
      <img class = "lgi"src="css/logo.jpeg.jpg" alt="logo-img">
      <p class="disc1" >Kya padh raha hai bsdk isko change kar denge</p>
      <p class="disc2" >Abe abhi bhi padh raha hai gandu baki sab dekh na bsdk </p>
      <div class="mp">
        <form action="/" method="post">
          <h1 class="welc">Welcome back!</h1>
          <h3 class="lg">Login your account</h3>
          <input class = "em" type="text" placeholder="Email" name="email" >
          <input class = "pw" type="password" placeholder="Password" name="password">
          <br>
          <button class="lgb">Login</button>
          <br>
      <a class="cta" href="/sign-up">Create account</a>
      <br><br><br><br><br><br>
      <a class="fp" href="">Forget Password?</a>
      </form>
      </div>
      <script src="index.js"></script>
    </section>
<%- include("footer") %>