<%-include("header")%>
    <img class = "lgi"src="css/logo.jpeg.jpg" alt="logo-img">
      <p class="disc1" >Kya padh raha hai bsdk isko change kar denge</p>
      <p class="disc2" >Abe abhi bhi padh raha hai gandu baki sab dekh na bsdk </p>
      <div class="mp">
        <form action="/sign-up" method="post">
          <h1 class="welc">Welcome back!</h1>
          <h3 class="lg">Sign Up</h3>
          <input class = "em" type="text" placeholder="Username" name="newUserName">
          <input class = "pw" type="email" placeholder="Email" name="newEmail">
          <input class = "em" type="text" placeholder="Password" name="newpassword" >
          <input class = "pw" type="password" placeholder="Confirm Password" name="confirmPassword">
          <br>
          <button class="lgb">Login</button>
      <br><br><br><br><br><br>
      <a class="fp" href="">Forget Password?</a>
      </form>
      </div>
      <script src="index.js"></script>
    </section>
<%-include("footer")%>